:root {
	background-image: url("images/barn-bg.png");
}
body {
	margin: 40px auto;
	max-width: 83%;
	line-height: 1.65em;
	font-size: 20px;
	color: #222;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 0 2rem;
	box-shadow: 0 0 0 1rem #944;
	border: 0.5rem solid #c11;
	border-radius: 12px;
	font-family: 'minion-pro', 'Minion Pro', 'Palatino', 'Palatino Linotype', Georgia, serif;
}
h1,h2,h3 {
	line-height: 1.2;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	text-align: center;
	text-shadow: 1px 1px 2px rgba(255, 128, 128, 0.5),
	               0 0 0.1em rgba(255, 128, 128, 0.2),
		       0 0 0.1em rgba(255, 0,   0,   0.2);
	font-size: 1.6em;
}
h2 {
	background-image: url("images/rosewood.png");
	padding: 0.4rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	text-shadow: 1px 1px 2px rgba(255, 128, 128, 0.5),
	               0 0 0.1em rgba(255, 128, 128, 0.2),
		       0 0 0.1em rgba(255, 0, 0, 0.2);
	font-size: 1.4em;
	max-width: 77%;
}
h3 {
	text-decoration-color: rgba(255, 128, 128, 0.5);
	font-size: 1.4em;
	max-width: 560px;
}
ol {
	text-align: center;
	list-style: none;
	padding-left: 0;
} 
ol > li {
	display: inline-block;
	padding: 0.5em;
}
ul {
	padding-left: 0;
}
p, ul {
	max-width: 560px;
	margin-left: auto;
	margin-right: auto;
}
p > img {
	max-height: 200px;
}
ol > li > p > img {
	max-width: 100%;
}
ol > li > img {
	max-width: 100%;
}
img {
	padding: 0.1rem;
	border: 0.1rem solid rgba(255, 128, 128, 0.1);
	border-radius: 6px;
	max-width: 66%;
	width: auto;
	height: auto;
}
@media screen and (max-width: 740px) {
	img {
		max-width: 100%;
	}
	h2 {
		max-width: 100%;
	}
}
